* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 300px;
    height: 400px;
    background: cornflowerblue;

}

.container button {
    padding: 9px;
    margin: 5px;
    border: 0;
    border-radius:13px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;

}

.container button:hover{
    background: hsl(0, 0%, 85%);
}

.display-wrapper{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display,
.minidisplay{
    width: 290px;
    height:30px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: end;
}

.display {
    height: 40px !important;
    overflow: auto;
    white-space: nowrap;
    font-size: 26px;
}

.minidisplay{
    font-size: 18px;
}

.operator:focus{
    background-color: #5700f3 !important;
    color: white;
}

.column-span-2{
    grid-column: span 2;
}